@model Report_a_Fault.Models.Computer

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}
@for (var i = 0; i < 5; i++)
{
    <div></div>
    <br />
}
<h1 class="heading-tetiary">REVIEW COMPUTER : @Model.ComputerNumber</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-8">
            BUILDING NAME
        </dt>
        <div></div>
        <br />
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lab.Building.BuildingName)
        </dd>
        <div></div>
        <br />
        <dt class = "col-sm-8">
            LABORATORY
        </dt>
        <div></div>
        <br />
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lab.LabNumber)
        </dd>
        <div></div>
        <br />
        <dt class = "col-sm-8">
            COMPUTER NUMBER
        </dt>
        <div></div>
        <br />
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComputerNumber)
        </dd>
        <div></div>
        <br />
        <dt class="col-sm-2">
            STATUS
        </dt>
        <div></div>
        <br />
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComputerComponentStatus)
        </dd>
        <div></div>
        <br />
        <dt class="col-sm-8">
            COMPUTER COMPONENTS
        </dt>
        <div></div>
        <br />
        @foreach(var u in Model.Computer_Comps)
        {
            <dd class="col-sm-10">
               * @Html.DisplayFor(model => u.Name)
            </dd>
           
        }
       
    </dl>
</div>

