@model Report_a_Fault.ViewModel.SearchComputerVM

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
@{
    var prevDisabled = !Model.Computers.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Computers.HasNextPage ? "disabled" : "";
}
@for (var i = 0; i < 5; i++)
{
    <div></div>
    <br />
}

<div class="card-shadow">
    <h1 class="heading-tetiary">Laboratory Computers</h1>
    @if(User.IsInRole(SD.Role_Intern))
    {
        <div class="row1">
            <div class="add-new-subject">
                <a asp-controller="Computer" asp-action="Create" asp-route-id="@Model.LabIdentityNumber" class="add-new-subject-btn">
                    <div class="inner-btn">
                        <ion-icon class="icon" name="add-outline"></ion-icon>
                        <p>Add New Computer</p>
                    </div>
                </a>
            </div>
            <div class="add-new-subject">
                <a asp-controller="Computer" asp-action="AddRange" asp-route-id="@Model.LabIdentityNumber" class="add-new-subject-btn">
                    <div class="inner-btn">
                        <ion-icon class="icon" name="add-outline"></ion-icon>
                        <p>Add New Computers</p>
                    </div>
                </a>
            </div>
        </div>
        
    }
   
    <table class="cus-table">
        <div class="search-bar">
            <form class="search" method="post">
                <input class="search-input" asp-for="Search" placeholder="Search Computer" />
                <button type="submit" asp-action="Index" asp-controller="Computer" asp-route-search="@Model.Search" class="btn-search"><ion-icon name="search-outline"></ion-icon></button>
            </form>
        </div>
        <thead>
            <tr>
                <th>
                    LAB
                </th>
                <th>
                    COMPUTER NUMBER
                </th>
                <th>
                    STATUS
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Computers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lab.LabNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComputerNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComputerComponentStatus)
                    </td>
                    <td>
                        <div class="actions">
                            @if (User.IsInRole(SD.Role_Student_Assistant))
                            {
                                <a asp-action="ReportFault" asp-controller="Fault" asp-route-id="@item.Id">Report</a>
                            }
                           
                            @if (User.IsInRole(SD.Role_Intern))
                            {
                                <hr />
                                <a asp-action="Create" asp-controller="ComputerComp" asp-route-labId="@item.Lab.Id" asp-route-computerNumber="@item.ComputerNumber">Add Part</a>
                            }
                     
                            <hr />
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <hr />
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            <hr />
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination-bar">
        <div class="pagination-text">
            <p>Page @Model.Computers.PageIndex of @Model.Computers.TotalPages</p>
        </div>
        <div class="pagination-btn">

            @if (prevDisabled != "disabled")
            {
                <a asp-route-pageNumber="@(Model.Computers.PageIndex - 1)" asp-action="Index"><ion-icon class="p-icon" name="chevron-back-outline"></ion-icon></a>
            }

            @if (nextDisabled != "disabled")
            {
                <a asp-route-pageNumber="@(Model.Computers.PageIndex + 1)">   <ion-icon class="p-icon" name="chevron-forward-outline"></ion-icon></a>
            }


        </div>



    </div>
</div>



