@model Report_a_Fault.Models.Computer

@{
    ViewData["Title"] = "UpdateComputerStatus";
    Layout = "_AdminLayout";
}
@for (var i = 0; i < 5; i++)
{
    <div></div>
    <br />
}
<h1 class="heading-tetiary"> REVIEW AND UPDATE COMPUTER STATUS</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="UpdateComputerStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <strong>
                    <label class="control-label"> COMPUTER NUMBER</label>
                </strong>
                <div></div>
                <br />
                <input asp-for="ComputerNumber" disabled class="form-control" />
                <span asp-validation-for="ComputerNumber" class="text-danger"></span>
            </div>
            <div></div>
            <br />
            <div class="form-group">
                <strong>
                    <label class="control-label"> LABORATORY NUMBER</label>
                </strong>
                <div></div>
                <br />
                <input asp-for="Lab.LabNumber" disabled class="form-control" />
                <span asp-validation-for="LabId" class="text-danger"></span>
            </div>
            <div></div>
            <br />
            
            <div class="form-group">
                <strong>
                    <label class="control-label"> CHOOSE STATUS</label>
                </strong>
                <div></div>
                <br />
                <select asp-for="ComputerComponentStatus" class="form-control">
                    <option value="@SD.StatusHealty">@SD.StatusHealty</option>
                    <option value="@SD.StatusFixInProgress">@SD.StatusFixInProgress</option>
                    <option value="@SD.StatusFaulty">@SD.StatusFaulty</option>
                </select>
                <span asp-validation-for="ComputerComponentStatus" class="text-danger"></span>
            </div>
            <div></div>
            <br />
            <div class="form-group">
                <input type="submit" value="UPDATE" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
