@model AddUserVM


@{
    ViewData["Title"] = "Add";
    Layout = "_AdminLayout";
}
@for(var i = 0; i < 5; i++)
{
    <div></div>
    <br />
}
<h1 class="heading-tetiary">REGISTERING NEW EMPLOYEES</h1>
<hr />
<div class="container-register">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <form class="register-form" method="post">
        <div class="form-group">
            <strong>
                <label class="control-label"> NAME</label>
            </strong>
            <div></div>
            <br />
            <input asp-for="@Model.Name" class="form-control" />
            <span class="validation" asp-validation-for="Name"></span>
        </div>
        <div></div>
        <br />
        <div class="form-group">
            <strong>
                <label class="control-label"> SURNAME</label>
            </strong>
            <div></div>
            <br />
            <input asp-for="@Model.Surname" class="form-control" />
            <span class="validation" asp-validation-for="Name"></span>
        </div>
        <div></div>
        <br />
        <div class="form-group">
            <strong>
                <label class="control-label"> EMAIL</label>
            </strong>
            <div></div>
            <br />
            <input placeholder="example@domain.com"
                   asp-for="@Model.Email"
                   class="form-control"
                   aria-required="true" />
            <span class="validation" asp-validation-for="Email"></span>
        </div>
        <div></div>
        <br />
        <div class="form-group">
            <strong>
                <label class="control-label"> CHOOSE CAMPUS</label>
            </strong>
            <div></div>
            <br />
            <select asp-for="CampusId" asp-items="@Model.CampusList" class="form-control">
            </select>
            <span class="validation" asp-validation-for="CampusId"></span>
        </div>
        <div></div>
        <br />
        <div class="form-group">
            <strong>
                <label class="control-label"> CHOOSE DEPARTMENT</label>
            </strong>
            <div></div>
            <br />
            <select asp-for="DepartmentId" asp-items="@Model.DepartmentList" class="form-control">
            </select>
            <span class="validation" asp-validation-for="DepartmentId"></span>
        </div>
        <div></div>
        <br />
        <div class="form-group">
            <strong>
                <label class="control-label"> CHOOSE ROLE</label>
            </strong>
            <div></div>
            <br />
            <select asp-for="@Model.Role" class="form-select">
                <option value="@SD.Role_Intern">@SD.Role_Intern</option>
                <option value="@SD.Role_Admin">@SD.Role_Admin</option>
                <option value="@SD.Role_Student_Assistant">@SD.Role_Student_Assistant</option>
            </select>
            <span class="validation" asp-validation-for="Role"></span>
        </div>
        <div></div>
        <div></div>
        <br />

        <div></div>
        <div class="form-items">
            <button type="submit" class="btn btn-dark">Register</button>
        </div>
    </form>
