@model IEnumerable<Report_a_Fault.Models.ApplicationUser>
@{
    ViewData["Title"] = "GetAllFault";
    Layout = "_AdminLayout";
}
<link rel="stylesheet" href="~/css/fundanathi.css" />
<link rel="stylesheet" href="~/css/styles.css" />
@for (var i = 0; i < 5; i++)
{
    <div></div>
    <br />
}
<div class="card-shadow">
    <h1 class="heading-tetiary">Central University Of Technology Student Assistants & Interns </h1>
    <table class="cus-table">
        <thead>
            <tr>
                <th>
                    NAME
                </th>
                <th>
                    SURNAME
                </th>
                <th>
                    EMAIL
                </th>
                <th>
                    ROLE
                </th>
                <th>
                    CAMPUS
                </th>
                <th>
                   DEPARTMENT
                </th>
                <th>
                    TERMINATE
                </th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usersurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Campus.CampusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                    </td>
                   
                    <td>
                        <div class="actions">
                            <a asp-action="DeleteUser" asp-route-id="@item.Id"> 
                             <ion-icon class="action-icon" name="trash-outline"></ion-icon>
                            </a>
                        </div>
                        

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



