@model CompVM

@{
    ViewData["Title"] = "create";
}

<h1>create</h1>

<h4>Labs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
          
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.ComputerComp.Name" class="control-label"></label>
                <input asp-for="@Model.ComputerComp.Name class=" form-control" />
                <span asp-validation-for="@Model.ComputerComp.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ComputerComp.ComputerId" class="control-label"></label>
                <select asp-for="@Model.ComputerComp.ComputerId" asp-items="@Model.ComputerList" class="form-select border shadow">
                    <option disabled selected>--Select computor--</option>
                </select>


            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
