@model IEnumerable<Report_a_Fault.Models.Computer_comp>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole($"{SD.Role_Intern},{SD.Role_Admin},{SD.Role_Super_Admin}"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer.ComputerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer.Lab.Campus.CampusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer.Lab.LabNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Computer.ComputerNumber)
            </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Computer.Lab.Campus.CampusName)
             </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Computer.Lab.LabNumber)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
