@model Report_a_Fault.ViewModel.SearchLabVM

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
@for (var i = 0; i < 5; i++)
{
    <div></div>
    <br />
}
<div class="card-shadow">
    <h1 class="heading-tetiary">Campus Computer Labs</h1>
    @if (User.IsInRole(SD.Role_Intern))
    {
        <div class="add-new-subject">

            <a asp-controller="Lab" asp-action="Create" asp-route-buildingId="@Model.labNumber" class="add-new-subject-btn">
                <div class="inner-btn">
                    <ion-icon class="icon" name="add-outline"></ion-icon>
                    <p>Add New Lab</p>
                </div>
            </a>

        </div>
    }
   
    <table class="cus-table">
        <div class="search-bar">
            <form class="search" method="post">
                <input class="search-input" asp-for="Search" placeholder="Search Lab" />
                <button type="submit" asp-action="Index" asp-controller="Lab" asp-route-search="@Model.Search" asp-route-buildingId="@Model.labNumber" class="btn-search"><ion-icon name="search-outline"></ion-icon></button>
            </form>
        </div>
        <thead>
            <tr>
                <th>
                    BUILDING NAME
                </th>
                <th>
                    LAB
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AllBuildingLabs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Building.BuildingName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LabNumber)
                    </td>

                    <td>
                        <div class="actions">
                            <a asp-action="Index" asp-controller="Computer" asp-route-id="@item.Id">Computers</a> 
                            
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                           
                        </div>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



